body
 {
	font-family: "Helvetica" , "sans-sarif", "Times New Roman";
	font-size: 130%;
 }
 input
 {
	height: 40px;
	width:300px;
	float:right;
	border: 1px solid gray;
	border-radius: 8px;
	font-size: 25px;
	margin: 5px 0 10px 0;
 }
input::-webkit-input-placeholder
 {
	opacity:0.5;
 }
 label
 {
	float:left;
	margin: 12px 20px 10px 0;
 }
 .clear-floating
 {
	clear:both;
 }
#form_container
{
	width: 500px;
	height: 310px;
	margin: 0 auto;
}
#submit
{
	width:25%;
	margin: 10px 225px 20px 0;
}
#messageContainer
{
	width: 500px;
	height: 300px;
	margin: 0 auto;
}
p
{
	font-size: 18px;
}